body {
  font-family: 'Roboto', sans-serif;
}

section h4 {
  margin-bottom: 20px;
}

img {
  border-radius: 8px;
  margin-bottom: 15px;
}

.responsive-img{
  width: 400px;
  height: 300px !important;
}

.materialboxed {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.materialboxed:hover {
  transform: scale(1.03);
}
